.noSelect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  color: white;
  background-color: #001e3c;
  font-family: "plus_jakarta_sansregular", sans-serif;
  scroll-behavior: smooth;
}

#linksBar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: #001e3c;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

#linksBar > div {
  height: 90%;
  transition: all;
  transition-duration: 0.5s;
  border-radius: 1em;
}

#linksBar > div:hover {
  color: #7ea4cc;
  background-color: #132f4c;
  border-radius: 1em;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80vh;
}

header > .text {
  margin: 1em;
  margin-left: 5em;
}

header > .text > h1 {
  font-size: 5em;
  margin: 0.2em 0;
  color: #4a89c9;
}
header > .text > h2 {
  font-weight: 100;
  font-size: 2em;
  margin: 0;
}
header > .text > h3 {
  font-weight: bold;
  font-style: italic;
  margin: 0;
}

header > .icon {
}

header > .icon > .circle {
  height: 35em;
  /* min-width: 2em; */
  width: 35em;
  background-color: #4a89c9;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: -3em;
  left: -3em;
}

header > .icon > img {
  position: relative;
  z-index: 2;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 7vh;
  background-color: #071a2f;
  color: white;
  font-size: 1.5em;
  padding: 1em 0;
  font-size: 1em;
}

footer > div {
  margin: 0 1em;
  height: 90%;
  display: flex;
  justify-content: space-around;
}

footer > div > div {
  margin: 0 1em;
  transition: all;
  transition-duration: 0.3s;
}
footer > div > div:hover {
  cursor: pointer;
  color: #7ea4cc;
}

#composants > nav {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #071a2f;
  color: white;
}

#composants > nav > div {
  padding: 1em 1.5em;
  border-radius: 1em;
  text-decoration: none;
  color: white;
  font-weight: 700;
  transition: all;
  transition-duration: 0.3s;
}

#composants > nav > div:hover {
  color: #7ea4cc;
  background-color: #132f4c;
  padding: 1em 1.5em;
  border-radius: 1em;
  cursor: pointer;
}

#composants > nav > div > p {
  margin: 0;
}

.displayCompoContain {
  min-height: 35vh;
  display: flex;
  justify-content: space-around;
  padding: 1em 2em;
}

.displayCompoContain > .text {
  width: 40%;
}

.displayCompoContain > .text > h4 {
  font-size: 2em;
}

.displayCompoContain > .compoZone {
  width: 55%;
  height: auto;
  background-color: #006bd7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  padding: 1em 1em;
}
.displayCompoContain > .compoZone > .alertModalBtn {
  font-size: 1.4em;
}

.check {
  flex-direction: column;
}
.inputName {
  flex-direction: column;
}
